<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Materialize Bootstrap Admin panel</title>
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="@{dist/img/ico/fav.png}" href="../static/dist/img/ico/fav.png" />
    <!-- Start Global Mandatory Style
         =====================================================================-->
    <!-- jquery-ui css -->
    <link th:href="@{plugins/jquery-ui-1.12.1/jquery-ui.min.css}" href="../static/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- materialize css -->
    <link th:href="@{plugins/materialize/css/materialize.min.css}" href="../static/plugins/materialize/css/materialize.min.css" rel="stylesheet" />
    <!-- Bootstrap css-->
    <link th:href="@{bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link th:href="@{plugins/animate/animate.css}" href="../static/plugins/animate/animate.css" rel="stylesheet" />
    <!-- Material Icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Font Awesome -->
    <link th:href="@{font-awesome/css/font-awesome.min.css}" href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Monthly css -->
    <link th:href="@{plugins/monthly/monthly.css}" href="../static/plugins/monthly/monthly.css" rel="stylesheet" type="text/css" />
    <!-- simplebar scroll css -->
    <link th:href="@{plugins/simplebar/dist/simplebar.css}" href="../static/plugins/simplebar/dist/simplebar.css" rel="stylesheet" type="text/css" />
    <!-- mCustomScrollbar css -->
    <link th:href="@{plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css}" href="../static/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <!-- custom CSS -->
    <link th:href="@{dist/css/stylematerial.css}" href="../static/dist/css/stylematerial.css" rel="stylesheet" />
    <style>
        .error{
            font-size:1.1em;
            color: #761428;
        }
         .validation{
             color: #ff1840;
         }
    </style>
</head>

<body>
<div id="wrapper">
    <!--Layout goes here-->
    <div th:replace="layouts/header :: header"> </div>

    <!-- layout ends here -->
    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">
            <!-- Content Header (Page header) -->
            <section class="content-header z-depth-1">
                <div class="header-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="header-title">
                    <h1> Add Hospital</h1>

                    <ul class="link hidden-xs">
                        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="#">forms basic</a></li>
                    </ul>
                </div>
            </section>
            <!-- page section -->
            <div class="container-fluid">
                <div class="row">
                    <!-- forms control -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-plus fa-lg"></i>
                                <h2>Form</h2>
                            </div>
                            <div class="card-content">

                              <div th:if="${hospitalInserted} != null" class="alert alert-success z-depth-1">
                                    <strong>Success!</strong> New hospital inserted.
                                </div>
                                <!--
                                                                <div class="alert alert-danger z-depth-1">

                                                                </div>
                                -->
                                <form action="/add-hospital" th:action="@{/add-hospital}" id="form" enctype="multipart/form-data" method="post" class="form-horizontal">
                                    <div id="rootwizard">
                                        <ul>
                                            <li><a href="#tab1" data-toggle="tab">General Information's</a></li>
                                            <li><a href="#tab2" data-toggle="tab">Gallery</a></li>
                                            <li><a href="#tab3" data-toggle="tab">Employees</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="tab1">
                                            <h2 class="text-center">Add Hospital</h2>
                                                <div class="form-group">
                                                        <label class="col-md-4 control-label">Hospital's Name:</label>
                                                        <div class="col-md-4">
                                                            <div class="input-field">
                                                                <input name="fullName" th:field="*{hospital.fullName}" id="fullName" type="text" class="validate form-control" placeholder="Full Name">
                                                                <span th:if="${#fields.hasErrors('hospital.fullName')}" class="validation" th:errors="*{hospital.fullName}">Name Error</span>
                                                            </div>
                                                        </div>
                                                        <label for="fullName" class="error"></label>
                                                    </div>
                                                <div class="form-group">
                                                        <label class="col-md-4 control-label">Hospital's City:</label>
                                                        <div class="col-md-4">
                                                            <div class="input-field">
                                                                <input name="city" th:field="*{hospital.city}" id="hospitalCity" type="text" class="validate form-control" placeholder="City" onfocus="initAutocomplete()">
                                                                <span th:if="${#fields.hasErrors('hospital.city')}" class="validation" th:errors="*{hospital.city}">Name Error</span>
                                                            </div>
                                                        </div>
                                                        <label for="hospitalCity" class="error"></label>
                                                    </div>
                                                <div class="form-group">
                                                        <label class="col-md-4 control-label">Hospital's Postal Code:</label>
                                                        <div class="col-md-4">
                                                            <div class="input-field">
                                                                <input name="postalCode" th:field="*{hospital.postalCode}"  id="postalCode" type="number" class="validate form-control" placeholder="Postal Code" >
                                                                <span th:if="${#fields.hasErrors('hospital.postalCode')}" class="validation" th:errors="*{hospital.postalCode}">Name Error</span>
                                                            </div>
                                                        </div>
                                                        <label for="postalCode" class="error"></label>
                                                    </div>
                                                <div class="form-group">
                                                        <label for="address" class="col-md-4 control-label">Hospital's Address:</label>
                                                        <div class="col-md-4">
                                                            <div class="input-field">
                                                                <input name="address" th:field="*{hospital.address}"  id="address" type="text" class="validate form-control" placeholder="Address" onfocus="initAutocomplete()">
                                                                <span th:if="${#fields.hasErrors('hospital.address')}" class="validation" th:errors="*{hospital.address}">Name Error</span>
                                                            </div>
                                                        </div>
                                                        <label for="address" class="error"></label>
                                                    </div>
                                                <div class="form-group">
                                                        <label for="about" class="col-md-4 control-label">About Hospital:</label>
                                                        <div class="col-md-4">
                                                            <div class="input-field">
                                                                <textarea rows="5" th:field="*{hospital.aboutHospital}" id="about" name="aboutHospital" class="validate form-control" placeholder="About..."></textarea>
                                                                <span th:if="${#fields.hasErrors('hospital.aboutHospital')}" class="validation" th:errors="*{hospital.aboutHospital}">Name Error</span>
                                                            </div>
                                                        </div>
                                                        <label for="about" class="error"></label>
                                                    </div>
                                            </div>
                                            <div class="tab-pane" id="tab2">
                                                <div class="form-group">
                                                        <label class="col-md-4 control-label">Upload Pictures:</label>
                                                        <div class="col-md-4">
                                                            <div class="input-field">
                                                                <input name="hospitalPictures" id="hospitalPictures" class="form-control" type="file" multiple />
                                                            </div>
                                                        </div>
                                                        <label for="hospitalPictures" class="error"></label>
                                                    </div>
                                            </div>
                                            <div class="tab-pane" id="tab3">
                                                        <div id="field">
                                                            <div id="field0">
                                                                <div class="form-group">
                                                                    <label  class="col-md-4 control-label">Add Employee's First Name:</label>
                                                                    <div class="col-md-4">
                                                                        <div class="input-field">
                                                                            <input type="text" name="employeeFname[]" class="validate" placeholder="First Name">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label  class="col-md-4 control-label">Add Employee's Last Name:</label>
                                                                    <div class="col-md-4">
                                                                        <div class="input-field">
                                                                            <input type="text" name="employeeLname[]" class="validate" placeholder="Last Name">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label  class="col-md-4 control-label">Add Employee's Email:</label>
                                                                    <div class="col-md-4">
                                                                        <div class="input-field">
                                                                            <input type="email" name="employeeEmail[]" class="validate" placeholder="Email">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-4 control-label">Add Employee's Date of birth:</label>
                                                                    <div class="col-md-4">
                                                                        <input class="datepicker" name="employeeDob[]" type="text" placeholder="Date of Birth">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label  class="col-md-4 control-label">Select role:</label>
                                                                    <div class="col-md-4">
                                                                        <div class="input-field">
                                                                            <select type="text" name="employeeTitle[]" class="validate required form-control">
                                                                                <option selected disabled>Choose role</option>
                                                                                <option value="Doctor">Doctor</option>
                                                                                <option value="Manager">Manager</option>
                                                                                <option value="Technician">Technician</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-4 control-label">Upload Picture:</label>
                                                                    <div class="col-md-4">
                                                                        <div class="input-field">
                                                                            <input name="employeePictures[]" class="form-control" type="file" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Button -->
                                                        <div class="row">
                                                            <div class="col-md-offset-4 col-md-4">
                                                                <button id="add-more" name="add-more" class="btn btn-primary">Add More</button>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>


                                            <ul class="pager wizard">
                                                <li class="previous"><a href="javascript:;">Previous</a></li>
                                                <li class="next"><a href="javascript:;">Next</a></li>
                                                <li class="finish "><a class="btn btn-success" href="javascript:;" style="background-color:#5cb85c; border: 0;">Submit</a></li>
                                            </ul>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./bootstrap forms -->
            </div>
            <!-- ./row -->
        </div>
        <!-- ./cotainer -->
    </div>
    <!-- ./page-content -->
    <!-- ./page-content-wrapper -->
</div>
<!-- Preloader -->

<div th:replace="layouts/preloader :: preloader"> </div>

<!-- End Preloader -->



<!-- Start Core Plugins
     =====================================================================-->
<!-- jQuery -->
<script th:src="@{plugins/jQuery/jquery-3.2.1.min.js}" src="../static/plugins/jQuery/jquery-3.2.1.min.js"
        type="text/javascript"></script>

<script th:src="@{http://code.jquery.com/jquery-latest.js}"></script>
<!-- jquery-ui -->
<script th:src="@{plugins/jquery-ui-1.12.1/jquery-ui.min.js}" src="../static/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<!-- Bootstrap -->
<!-- materialize  -->
<script th:src="@{plugins/materialize/js/materialize.min.js}" src="../static/plugins/materialize/js/materialize.min.js" type="text/javascript"></script>
<!-- metismenu-master -->
<script th:src="@{plugins/metismenu-master/dist/metisMenu.min.js}" src="../static/plugins/metismenu-master/dist/metisMenu.min.js" type="text/javascript"></script>
<!-- SlimScroll -->
<script th:src="@{plugins/slimScroll/jquery.slimscroll.min.js}" src="../static/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- m-custom-scrollbar -->
<script th:src="@{plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js}" src="../static/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
<!-- scroll -->
<script th:src="@{plugins/simplebar/dist/simplebar.js}" src="../static/plugins/simplebar/dist/simplebar.js" type="text/javascript"></script>
<!-- custom js -->
<script th:src="@{dist/js/custom.js}" src="../static/dist/js/custom.js" type="text/javascript"></script>
<!-- End Core Plugins
     =====================================================================-->
<!-- Start Page Lavel Plugins
     =====================================================================-->

<script th:src="@{http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.form.min.js}"  type="text/javascript"></script>
<script th:src="@{bootstrap/js/bootstrap.wizard.min.js}"></script>

<script th:src="@{bootstrap/js/prettify.js}"></script>
<!-- End Page Lavel Plugins
     =====================================================================-->
<!-- Start Theme label Script
     =====================================================================-->
<!-- main js-->
<script th:src="@{dist/js/main.js}" src="../static/dist/js/main.js" type="text/javascript"></script>
<!-- End Theme label Script
     =====================================================================-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKFDdqpwblWFuo7NUI07rtjKnMTWnPMeY&libraries=places&region=BA&language=hr"></script>
<script>
    function initAutocomplete() {
        autocomplete1 = new google.maps.places.Autocomplete(document.getElementById('hospitalCity'), {types: ['geocode']});
        autocomplete1.addListener('place_changed', function () {
            var place = autocomplete1.getPlace();
            if (!place.geometry) {
                window.alert("We could not find place!");
                return;
            }
        });
        autocomplete2 = new google.maps.places.Autocomplete(document.getElementById('address'), {types: ['geocode']});
        autocomplete2.addListener('place_changed', function () {
            var place = autocomplete2.getPlace();
            if (!place.geometry) {
                window.alert("We could not find place!");
                return;
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        var next = 0;
        $("#add-more").click(function(e){
            e.preventDefault();
            var addto = "#field" + next;
            var addRemove = "#field" + (next);
            next = next + 1;
            var newIn = ' <div id="field'+ next +'" name="field'+ next +'">   <div class="form-group">\n' +
                '                                                                    <label  class="col-md-4 control-label">Add Employee\'s First Name:</label>\n' +
                '                                                                    <div class="col-md-4">\n' +
                '                                                                        <div class="input-field">\n' +
                '                                                                            <input type="text" name="employeeFname[]" class="validate" placeholder="First Name">\n' +
                '                                                                        </div>\n' +
                '                                                                    </div>\n' +
                '                                                                    <label for="employeeFname[]" class="error"></label>\n' +
                '                                                                </div>\n' +
                '                                                                <div class="form-group">\n' +
                '                                                                    <label  class="col-md-4 control-label">Add Employee\'s Last Name:</label>\n' +
                '                                                                    <div class="col-md-4">\n' +
                '                                                                        <div class="input-field">\n' +
                '                                                                            <input type="text" name="employeeLname[]" id="employeeLname[]"  class="validate" placeholder="Last Name">\n' +
                '                                                                        </div>\n' +
                '                                                                    </div>\n' +
                '                                                                    <label for="employeeLname[]" class="error"></label>\n' +
                '                                                                </div>\n' +
                '                                                                   <div class="form-group">\n' +
                '                                                                    <label  class="col-md-4 control-label">Add Employee\'s Email:</label>\n' +
                '                                                                    <div class="col-md-4">\n' +
                '                                                                        <div class="input-field">\n' +
                '                                                                            <input type="email" name="employeeEmail[]" class="validate" placeholder="Email">\n' +
                '                                                                        </div>\n' +
                '                                                                    </div>\n' +
                '                                                                </div>\n' +
                '                                                                <div class="form-group">\n' +
                '                                                                    <label class="col-md-4 control-label">Add Employee\'s Date of birth:</label>\n' +
                '                                                                    <div class="col-md-4">\n' +
                '                                                                        <input class="datepicker" name="employeeDob[]" type="text" placeholder="Date of Birth">\n' +
                '                                                                    </div>\n' +
                '                                                                </div>' +
                '                                                                <div class="form-group">\n' +
                '                                                                    <label  class="col-md-4 control-label">Select role:</label>\n' +
                '                                                                    <div class="col-md-4">\n' +
                '                                                                        <div class="input-field">\n' +
                '                                                                            <select type="text" name="employeeTitle[]" id="employeeTitle[]" class="validate required form-control">\n' +
                '                                                                                <option selected disabled>Choose role</option>\n' +
                '                                                                                <option value="Doctor">Doctor</option>\n' +
                '                                                                                <option value="Manager">Manager</option>\n' +
                '                                                                                <option value="Technician">Technician</option>\n' +
                '                                                                            </select>\n' +
                '                                                                        </div>\n' +
                '                                                                    </div>\n' +
                '                                                                    <label for="employeeTitle[]" class="error"></label>\n' +
                '                                                                </div>' +
                '                                                               <div class="form-group">\n' +
                '                                                                    <label class="col-md-4 control-label" for="pictures">Upload Pictures:</label>\n' +
                '                                                                    <div class="col-md-4">\n' +
                '                                                                        <div class="input-field">\n' +
                '                                                                            <input name="employeePictures[]" class="form-control" type="file" multiple />\n' +
                '                                                                        </div>\n' +
                '                                                                    </div>\n' +
                '                                                                </div>' +
                '';
            var newInput = $(newIn);
            var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >Remove</button></div></div><div id="field">';
            var removeButton = $(removeBtn);
            $(addto).after(newInput);
            $(addRemove).after(removeButton);
            $("#field" + next).attr('data-source',$(addto).attr('data-source'));
            $("#count").val(next);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
            $('.datepicker').each(function () {
                $(this).pickadate({
                    format: 'yyyy-mm-dd',
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 35 // Creates a dropdown of 15 years to control year
                })
            });

        });

    });

    $(document).ready(function() {
        var $validator = $("#form").validate({
            checkForm: function() {
                this.prepareForm();
                for ( var i = 0, elements = (this.currentElements = this.elements()); elements[i]; i++ ) {
                    if (this.findByName( elements[i].name ).length != undefined && this.findByName( elements[i].name ).length > 1) {
                        for (var cnt = 0; cnt < this.findByName( elements[i].name ).length; cnt++) {
                            this.check( this.findByName( elements[i].name )[cnt] );
                        }
                    } else {
                        this.check( elements[i] );
                    }
                }
                return this.valid();
            },
            rules: {
                fullName: {
                    required: true,
                    minlength: 3
                },
                hospitalCity: {
                    required: true,
                    minlength: 3
                },
                postalCode: {
                    required: true,
                    minlength: 3
                },
                address: {
                    required: true,
                    minlength: 3
                },
                about: {
                    required: true,
                    minlength: 20,
                    maxlength: 8000
                },
                hospitalPictures:{
                    required: true
                },
                'employeeFname[]':{
                    required: true,
                    minlength: 3
                },
                'employeeLname[]':{
                    required: true,
                    minlength: 3
                },
                'employeeEmail[]':{
                    required: true,
                    minlength: 3,
                    email: true
                },
                'employeeDob[]':{
                    required: true
                },
                'employeeTitle[]':{
                    required: true
                },
                'employeePictures[]':{
                    required: true
                }
            }
        });

        $('#rootwizard').bootstrapWizard({
            'tabClass': 'nav nav-pills',
            'onNext': function(tab, navigation, index) {
                var $valid = $("#form").valid();
                if(!$valid) {
                    $validator.focusInvalid();
                    return false;
                }
            },
            'onFinish': function() {
                var $valid = $("#form").valid();
                if(!$valid) {
                    $validator.focusInvalid();
                    return false;
                }else {
                    document.getElementById("form").submit();
                }
            },
            onTabClick: function(tab, navigation, index) {
                return false;
            }
        });
        //datepicker
        $('.datepicker').pickadate({
            format: 'yyyy-dd-mm',
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 35 // Creates a dropdown of 15 years to control year
        });
    });


</script>



</body>
</html>