<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}" >
<head xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Materialize Bootstrap Admin panel</title>
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="@{dist/img/ico/fav.png}" href="../static/dist/img/ico/fav.png" />
    <!-- Start Global Mandatory Style
         =====================================================================-->
    <!-- jquery-ui css -->
    <link th:href="@{/plugins/jquery-ui-1.12.1/jquery-ui.min.css}" href="../static/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- materialize css -->
    <link th:href="@{/plugins/materialize/css/materialize.min.css}" href="../static/plugins/materialize/css/materialize.min.css" rel="stylesheet" />
    <!-- Bootstrap css-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link th:href="@{/plugins/animate/animate.css}" href="../static/plugins/animate/animate.css" rel="stylesheet" />
    <!-- Material Icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Font Awesome -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Monthly css -->
    <link th:href="@{/plugins/monthly/monthly.css}" href="../static/plugins/monthly/monthly.css" rel="stylesheet" type="text/css" />
    <!-- simplebar scroll css -->
    <link th:href="@{/plugins/simplebar/dist/simplebar.css}" href="../static/plugins/simplebar/dist/simplebar.css" rel="stylesheet" type="text/css" />
    <!-- mCustomScrollbar css -->
    <link th:href="@{/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css}" href="../static/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <!-- custom CSS -->
    <link th:href="@{/dist/css/stylematerial.css}" href="../static/dist/css/stylematerial.css" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
    <!--Layout goes here-->
    <div th:replace="layouts/header :: header"> </div>

    <!-- layout ends here -->


    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="header-icon">
                    <i class="fa fa-plus-square"></i>
                </div>
                <div class="header-title">
                    <h1> Hospital</h1>
                    <small> Hospitals overview</small>
                    <ul class="link hidden-xs">
                        <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="index.html">Hospitals</a></li>
                    </ul>
                </div>
            </section>
            <!-- page section -->
            <div class="container-fluid">
                <div class="row">

                    <!-- Data tables -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-table fa-lg"></i>
                                <h2>Hospitals</h2>
                            </div>
                            <div class="card-content">
                                <div  th:if="${hospitalDeleted} != null"  class="alert alert-danger z-depth-1">
                                    <strong>Danger!</strong> Hospital deleted.
                                </div>
                                <div  th:if="${hospitalUpdated} != null"  class="alert alert-success z-depth-1">
                                    <strong>Success!</strong> Hospital updated.
                                </div>
                                <div class="table-responsive">
                                    <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Full Name</th>
                                            <th>City</th>
                                            <th>Postal Code</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="hospital : ${hospitals}">
                                        <tr>
                                            <td th:text="${hospital.id}"> </td>
                                            <td th:text="${hospital.fullName}"> </td>
                                            <td th:text="${hospital.city}"> </td>
                                            <td th:text="${hospital.postalCode}"> </td>
                                            <td>
                                                <button data-toggle="modal" data-target="#myModal" th:attr="onclick='fillModal('+${hospital.id }+')'" class="waves-effect waves-light btn light-blue accent-3">edit</button>
                                                <a th:href="@{/delete-hospital/} + ${hospital.id}"> <span class="waves-effect waves-light btn red ">delete</span></a>
                                                <a th:href="@{/edit-hospital-employees/} + ${hospital.id}" class="waves-effect waves-light btn green">edit employees</a>
                                            </td>
                                        </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Data table -->
                </div>
                <!-- ./row -->
            </div>
            <!-- ./cotainer -->
        </div>
        <!-- ./page-content -->
    </div>
    <!-- ./page-content-wrapper -->
</div>
<!-- ./page-wrapper -->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title"> </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{/edit-hospital}" id="form" class="form-horizontal" method="post">
                            <input id="hospitalId" type="hidden" name="hospitalId" value="">
                            <h2 class="text-center" id="modalTitle"></h2>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Full Name:</label>
                                    <div class="col-md-9">
                                        <div class="input-field">
                                            <input name="fullName" id="fullName" type="text" class="validate" value="">
                                            <br>
                                            <label for="fullName" class="error"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">City:</label>
                                    <div class="col-md-9">
                                        <div class="input-field">
                                            <input name="hospitalCity" id="hospitalCity" type="text" class="validate" value="">
                                            <br>
                                            <label for="hospitalCity" class="error"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Postal Code:</label>
                                    <div class="col-md-9">
                                        <div class="input-field">
                                            <input name="postalCode" id="postalCode" type="text" class="validate" value="">
                                            <br>
                                            <label for="postalCode" class="error"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">About Hospital:</label>
                                    <div class="col-md-9">
                                        <div class="input-field">
                                            <textarea name="about" id="about" type="text" class="form-control"></textarea>
                                            <br>
                                            <label for="about" class="error"></label>
                                        </div>
                                    </div>
                                </div>
                               <!-- <div class="form-group">
                                    <label class="col-md-3 control-label">Role:</label>
                                    <div class="col-md-9">
                                        <div class="input-field">
                                            <select class="form-control" name="role" id="role" >
                                                <option value="ADMIN">ADMIN</option>
                                                <option value="EMPLOYEE">EMPLOYEE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>-->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit"  onclick="submitForm()" class="btn btn-success pull-left" form="form" value="Submit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Preloader -->

<div th:replace="/layouts/preloader :: preloader"> </div>

<!-- End Preloader -->

<!-- Start Core Plugins
     =====================================================================-->
<!-- jQuery -->
<script th:src="@{/plugins/jQuery/jquery-3.2.1.min.js}" src="../static/plugins/jQuery/jquery-3.2.1.min.js"
        type="text/javascript"></script>
<!-- jquery-ui -->
<script th:src="@{/plugins/jquery-ui-1.12.1/jquery-ui.min.js}" src="../static/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<!-- Bootstrap -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- materialize  -->
<script th:src="@{/plugins/materialize/js/materialize.min.js}" src="../static/plugins/materialize/js/materialize.min.js" type="text/javascript"></script>
<!-- metismenu-master -->
<script th:src="@{/plugins/metismenu-master/dist/metisMenu.min.js}" src="../static/plugins/metismenu-master/dist/metisMenu.min.js" type="text/javascript"></script>
<!-- SlimScroll -->
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}" src="../static/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- m-custom-scrollbar -->
<script th:src="@{/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js}" src="../static/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
<!-- scroll -->
<script th:src="@{/plugins/simplebar/dist/simplebar.js}" src="../static/plugins/simplebar/dist/simplebar.js" type="text/javascript"></script>
<!-- custom js -->
<script th:src="@{/dist/js/custom.js}" src="../static/dist/js/custom.js" type="text/javascript"></script>
<!-- End Core Plugins
     =====================================================================-->
<!-- Start Page Lavel Plugins
     =====================================================================-->

<!-- End Page Lavel Plugins
     =====================================================================-->
<!-- Start Theme label Script
     =====================================================================-->
<!-- main js-->
<script th:src="@{/dist/js/main.js}" src="../static/dist/js/main.js" type="text/javascript"></script>
<!-- End Theme label Script
     =====================================================================-->
<!-- dataTables js -->
<script th:src="@{/plugins/datatables/dataTables.min.js}" src="../static/plugins/datatables/dataTables.min.js" type="text/javascript"></script>
<script th:src="@{/plugins/tabellajs/dist/tabella.js}" src="../static/plugins/tabellajs/dist/tabella.js" type="text/javascript"></script>

<script th:src="@{http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js}"></script>
<script>
    function submitForm() {
        if($("#form").valid()){
        document.getElementById("form").submit();
        }
    }
    function fillModal(id){
        $.ajax({
            url: '/get-hospital-data/' + id,
            method: 'GET',
            success: function (msg) {
                $("#modalTitle").html("Edit hospital "+msg.hospital.fullName);
                $("#fullName").val(msg.hospital.fullName);
                $("#hospitalCity").val(msg.hospital.city);
                $("#postalCode").val(msg.hospital.postalCode);
                $("#about").val(msg.hospital.aboutHospital);
                $("#hospitalId").val(msg.hospital.id);
/*
                for(var i=0;i<msg.hospital.hospitalsEmployee.length;i++){
                    console.log(msg.hospital.hospitalsEmployee[i].fName);
                }*/
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(errorThrown + " " + xhr + " " + textStatus);
                return false;
            }
        });
    }
    $(document).ready(function() {

        var $validator=$("#form").validate({
            rules: {
                fullName: {
                    required: true,
                    minlength: 3
                },
                hospitalCity: {
                    required: true,
                    minlength: 3
                },
                postalCode: {
                    required: true,
                    minlength: 3
                },
                address: {
                    required: true,
                    minlength: 3
                },
                about: {
                    required: true,
                    minlength: 20,
                    maxlength: 8000
                }/*,
                hospitalPictures:{
                    required: true
                }*/
            }
        });
    });
</script>
</body>
</html>